
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

<nav class="col-md-2 d-none d-md-block sidebar" style="background-color:#212121;">
  <div class="sidebar-sticky">
<ul class="nav flex-column">

    

  <li class="nav-item">
    <a class="nav-link " routerLink="/profiles" >
      <i class="material-icons">account_circle</i>
      &#160; Profile 
    </a>
  </li>


  <li class="nav-item">
    <a class="nav-link" routerLink="/package">
      <i class="material-icons">subject</i>
        &#160;Package 
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/">
      <i class="material-icons">check_circle</i>
      &#160;Service
      
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/">
      <i class="material-icons">local_offer</i>
      &#160;Offer
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/">
      <i class="material-icons">build</i>
      &#160;Equipment
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/">
      <i class="material-icons">attach_money</i>
      &#160;Payment Handling
    </a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/admin/">
        <i class="material-icons">sentiment_very_satisfied</i>
        &#160;About Us
      </a>
    </li>
</ul>

</div>
</nav>

