/*
 * Sidebar
 */

.bg-black{
  background-color: #212121;
}

 .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    /*padding: 20px;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    /*border-right: 1px solid #eee;*/
    
  }
  
  /* Sidebar navigation */
  .sidebar {
    padding-left: 0;
    padding-right: 0;
    background-color: black;
  }
  
  .sidebar .nav {
    margin-bottom: 20px;
  }
  
  .sidebar .nav-item {
    width: 100%;
  }
  
  .sidebar .nav-item + .nav-item {
    margin-left: 0;
  }
  
  .sidebar .nav-link {
    border-radius: 0;
  }
  ul li:hover {background: #555; }

li{
    border-bottom: 2px solid black;
    padding:.5em;
    cursor: pointer;
    /*rgb(117, 117, 117);*/
}

a:hover{
  color:#fff;
  
 
}


/*icon meterial */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}